node_modules
build
dist/
cache
ignore
modd.conf
out.html

**/.sethrc
.DS_Store
.vscode/settings.json
.env
.env.local
.env.*.local
*test-report.json
*tests-report.json
*.code-workspace
.vscode

docs/
scripts/out.md
.nyc_output/
coverage/
cache/
src/types/typechain/*
!src/types/typechain/README
src/constants/contractVersionRanges.json

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# js tests state dumps
**/mangroveJsTestServerState.dump
merged.info


# foundry broadcasts to anvil
!/broadcast
/broadcast/*
/broadcast/*/31337/

# deploy output by deploy script
deploy_output.txt
mangroveJsNodeState.dump
out
