node_modules
build
cache
ignore
modd.conf
out.html
packages/mangrove-solidity/deployments/hardhat
packages/mangrove-solidity/doc/MgvDoc.html
packages/mangrove-solidity/doc/specs.txt
**/.sethrc
.DS_Store
.vscode/settings.json
.env.local
.env.*.local
*test-report.json
*tests-report.json
*.code-workspace

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
